.list-product-container {
  width: 100%;
  height: 100%;
  padding: 1rem 1.6rem;
  padding-bottom: 0;
  // display: flex;
  // flex-direction: column;
  .list-product-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-product-table-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__table {
    height: 100%;
    box-shadow: var(--box-shadow-main);
    width: 100%;
    // overflow: auto;

    .table {
      margin-bottom: 0 !important;
      // height: 100%;
      border: none;
      border-bottom: 1px solid #dee2e6 !important;
      .checkbox-ctn {
        align-items: center !important;
        justify-content: center !important ;
        display: flex;
        height: 100%;
      }
      td,
      th {
        padding: 0;
        vertical-align: inherit;
        // border-top: 1px solid #dee2e6;
        text-align: center;
        border: none;
        border-bottom: 1px solid #dee2e6;

        p {
          //   padding: 8px 0;
          font-size: 1.4rem;
        }
      }

      &__header {
        .header--soft {
          // position: relative;

          &__icons {
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translate(-50%, -50%);

            svg {
              cursor: pointer;
              width: 16px;
              height: 16px;
            }
          }
        }

        th {
          padding: 1.75rem;
          font-size: 1.4rem;
          text-align: center;
          font-weight: 400;
          position: sticky;
          top: -1px;
          z-index: 999;
          background-color: #f5f8fb;
          color: #1a2948;
        }
      }
    }
  }

  tbody {
    tr {
      height: 6rem;
    }
    .active-tag {
      background-color: rgba(255, 77, 84, 0.2);
      padding: 0.5rem 1rem;
      border-radius: 4px;
      width: fit-content;
      p {
        color: #ff4d54;
      }

      &.active {
        background-color: rgba(51, 204, 94, 0.2);
        p {
          color: #33cc5e;
        }
      }
    }
  }
}

// .table-striped tbody tr:nth-of-type(odd) {
//   background-color: var(--color-body) !important;
//   .cell-funciton {
//     justify-content: center;
//   }
// }
