@import "../../../libraries/styles/mixin.scss";
@import "../../../libraries/styles/variables.scss";

.body {
  width: 100%;
  flex: 1;
  background-color: $primary-background;
  overflow: scroll;
  //   background-color: red;
}
