@import "libraries/styles/variables.scss";

.popup-modal-ctn {
  display: none;
  &.open {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $modal-background;
    right: 0;
    top: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-modal-content {
    // height: 100%;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    .popup-modal-header {
      width: 100%;
      border-bottom: 1px solid #e6e8eb;
      align-items: center;
      display: flex;
      padding: 1.5rem 2rem;

      p {
        font-style: 1.8rem;
        font-weight: 700;
        color: $neutral-midnight;
        flex: 1;
        justify-self: center;
        margin-bottom: 0;
      }
    }
  }

  .popup-modal-body {
    flex: 1;
    // padding: 2rem;
  }

  .popup-modal-footer {
    border-top: 1px solid #e6e8eb;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 20%;
  }
}
