.cell-pm {
  padding: 1rem 0 !important;
  width: 220px;
  position: relative;

  &.error {
    outline: 2px solid red;
  }

  .autocomplete {
    position: relative;

    &__icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);

      svg {
        width: 18px;
        height: 18px;
      }
    }

    &__suggests {
      width: 100%;
      background-color: var(--color-main3);
      z-index: 99;
      max-height: 200px;
      overflow: auto;
      box-shadow: var(--box-shadow-main);
      position: absolute;
      // top: 0px;
      // left: 0px;
      // transform: translate3d(0px, -200px, 0px);
      // -webkit-transform: translate3d(0px, -200px, 0px);
      // -moz-transform: translate3d(0px, -200px, 0px);
      // -ms-transform: translate3d(0px, -200px, 0px);
      // -o-transform: translate3d(0px, -200px, 0px);

      li {
        padding: 4px 0 4px 4px;
        cursor: pointer;
        text-align: left;

        &:hover {
          background-color: var(--color-item-hover);
        }
      }

      .no-data {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &__edit-icon {
    display: none;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  &__has-edited-icon {
    position: absolute;
    border-color: #d51923 transparent transparent #d51923;
    border-width: 4px;
    border-style: solid;
  }

  &:hover .cell-pm__edit-icon {
    display: block;
  }

  input {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 8px 32px 8px 8px;
    outline: 3px solid #c9c0da;
  }

  p {
    white-space: nowrap;

    width: 70%;
  }
}
