@import "./libraries/styles/base.scss";
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

iframe{
  display: none;
}
